.container {
  height: 55px;
  margin: 50px auto;
}

.content {
  width: 100%;
  height: inherit;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.navigationItems {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.navItemsContainer {
  height: inherit;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
  margin: auto;
}
