.searchBar {
  height: 40px;
  margin: 20px auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 150px;
  border-radius: var(--roundness);
  overflow: hidden;
}

.searchBtn {
  display: table;
  margin-right: 1em;
  background-color: var(--primary);
  border-radius: var(--roundness);
  transition: 0.2s;
}

.searchBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btnText {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 500;
}

.icon {
  padding-right: 15px;
  font-size: 15px;
}

.input {
  padding-left: 17px;
  outline: none;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
  background-color: white;
  border: 1.7px solid white;
  border-radius: var(--roundness);
}

.input:focus {
  border: 1.7px solid var(--primary);
}

@media screen and (max-width: 800px) {
  .searchBar {
    width: 100% !important;
  }
}
