.spoiler {
  width: 100%;
  margin: 20px 0;
  transition: 0.2s;
}

.suggestionLink {
  padding-left: 10px;
  text-decoration: none;
  color: inherit;
}

.spoilerContent {
  display: flex;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}

.spoilerInput {
  display: none;
}

.arrow {
  transition: 0.2s;
  margin-right: 10px;
}

.spoilerInput + label::after {
  content: 'Show suggestions';
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.spoilerInput + label:hover {
  text-decoration: underline;
}

.spoilerInput:checked + label {
  color: var(--primary);
}

.spoilerInput:checked + label::after {
  content: 'Hide suggestions';
}

.spoilerInput:checked ~ .spoilerContent {
  margin: 23px 0;
  height: auto;
}

.spoilerInput:checked + label .arrow {
  transform: rotate(90deg);
}
