.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr;
  background-color: white;
  border-radius: var(--roundness);
  overflow: hidden;
}

.imageContainer {
  width: 200px;
  height: 200px;
  background-color: rgb(231, 231, 231);
}

.image {
  max-width: 200px;
  margin: auto;
  object-fit: contain;
}

.meta {
  background-color: white;
}

.innerMeta {
  padding: 10px 10px;
}

.title,
.price {
  margin-bottom: 5px;
}

.title {
  font-size: 80%;
}

.price {
  font-size: 90%;
  font-weight: bold;
}
