.container {
  box-shadow: 0 0 10px 0 rgb(26 26 26 / 0%), 0 4px 8px 0 rgb(26 26 26 / 10%);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  --top-offset: 100px;
  margin: var(--top-offset) auto;
  width: 370px;
  background-color: white;
  border-radius: var(--roundness);
}

.innerContainer {
  padding: 30px 50px 50px 50px;
}

@keyframes slide {
  0% {
    transform: translateY(2em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.inputContainer {
  margin: 50px 0 33px 0;
}

.inputContainer div {
  padding-bottom: 20px;
}

.Facebook {
  background-color: blue;
}
