.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  --top-offset: 100px;
  margin: var(--top-offset) auto;
  width: 370px;
  background-color: white;
  border-radius: var(--roundness);
  filter: drop-shadow(0 0 10px rgb(236, 236, 236));
}

.innerContainer {
  padding: 30px 50px 50px 50px;
}

@keyframes slide {
  0% {
    transform: translateY(2em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.inputContainer {
  margin: 50px 0 33px 0;
}

.inputContainer div {
  padding-bottom: 20px;
}

.back:hover {
  color: var(--primary);
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
}

.arrowLeft {
  margin-right: 10px;
}

.Facebook {
  background-color: blue;
}
