.container {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  gap: 5em;
  color: rgb(179, 179, 179);
  font-weight: 500;
  font-size: 15px;
}

.left {
  display: flex;
  gap: 5em;
}

.locale i {
  margin-right: 10px;
  font-size: 11px;
}
