:root {
  --content: 50%;
  --roundness: 7px;
  --bg: rgb(245, 247, 252);
  --innerColor: rgb(243, 246, 255);
  --secondary: rgb(220, 227, 241);
  --primary: rgb(255, 123, 0);
  --primary: rgb(0, 128, 202);
  --primary: rgb(231, 62, 76);
  --primary: rgb(0, 143, 71);
}

@media screen and (max-width: 1300px) {
  :root {
    --content: calc(100% - 5em);
  }
}

body {
  padding: 0;
  margin: 0;
  /* needs to use shipped font */
  font-family: Ubuntu, Segoe UI, Roboto;
  background-color: var(--bg);
  color: var(--alt-text);
}

e {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input {
  font-family: inherit;
}

input:disabled {
  opacity: 0.5;
}

main {
  margin: 30px auto 400px auto;
  width: var(--content);
}

::placeholder {
  opacity: 0.7;
}
