:root {
  --content: 50%;
  --roundness: 7px;
  --bg: #f5f7fc;
  --innerColor: #f3f6ff;
  --secondary: #dce3f1;
  --primary: #ff7b00;
  --primary: #0080ca;
  --primary: #008f47;
  --primary: #e73e4c;
}

@media screen and (max-width: 1300px) {
  :root {
    --content: calc(100% - 5em);
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--alt-text);
}

e {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

input {
  font-family: inherit;
}

input:disabled {
  opacity: 0.5;
}

main {
  margin: 30px auto 200px auto;
  width: var(--content);
}

::placeholder {
  opacity: 0.7;
}
