.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr;
  background-color: white;
  border-radius: var(--roundness);
  overflow: hidden;
  transition: 0.15s;
}

.container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.imageContainer {
  width: 200px;
  height: 200px;
  background-color: rgb(231, 231, 231);
}

.image {
  max-width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

.meta {
  background-color: white;
}

.innerMeta {
  padding: 10px 10px;
}

.title,
.price,
.date {
  margin: 15px;
}

.price {
  font-size: 150%;
  font-weight: bold;
}

.title,
.date {
  font-size: 110%;
}

.date {
  opacity: 0.5;
}