.container {
  box-sizing: border-box;
  width: 180px;
  height: 220px;
  position: relative;
  border-radius: var(--roundness);
  overflow: hidden;
  transition: 0.1s;
  background-color: white;
  opacity: 0.7;
}

.container:hover {
  opacity: 1;
  cursor: pointer;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  /* z-index: -999; */
  background-color: #eee;
}

.meta {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  z-index: 999;
}

.innerMeta {
  padding: 10px 10px;
  font-size: inherit;
}

.title,
.price {
  margin-bottom: 5px;
}

.title {
  font-size: 80%;
}

.price {
  font-size: 90%;
  font-weight: bold;
}
