.results {
  display: grid;
  grid-auto-flow: row;
  --gap-width: 1em;
  gap: var(--gap-width);
  justify-content: space-between;
}

.searchOptions {
  border-radius: var(--roundness);
  background-color: white;
}

.advert > div {
  margin-bottom: 50px;
}

.resultsMeta {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.resultsMeta > p {
  width: fit-content;
}

/* @media screen and (max-width: 1300px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 1550px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */
