.container {
    min-width: 250px;
    min-height: 300px;
    width: 100%;
    border-radius: 7px;
    outline: solid 1.5px #eee;
    overflow: hidden;

    display: grid;
    grid-auto-flow: row;
    margin: auto;

    background-color: #eee;
}

/* .placeholderImage {
    width: 100%;
    aspect-ratio: 1;
    background-color: whitesmoke;
}

.urgent {
    outline: solid 1.5px orange;
} */