.container {
  box-sizing: border-box;
  height: 1.5fr;
  position: relative;
  border-radius: var(--roundness);
  overflow: hidden;
  transition: 0.1s;
  background-color: white;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: -999;
}

.meta {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
  z-index: 999;
}

.innerMeta {
  padding: 10px 10px;
  font-size: inherit;
}

.title,
.price {
  margin-bottom: 5px;
}

.title {
  font-size: 80%;
}

.price {
  font-size: 90%;
  font-weight: bold;
}
