.results {
  display: grid;
  grid-auto-flow: row;
  --gap-width: 1em;
  gap: var(--gap-width);
  justify-content: space-between;
}

.searchOptions {
  border-radius: var(--roundness);
  background-color: white;
}

.advert > div {
  margin-bottom: 50px;
}

.resultsMeta {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.resultsMeta > p {
  width: fit-content;
}