:root {
  --content: 50%;
  /* --primary: rgb(0, 143, 71); */
  --secondary: rgb(235, 235, 235);
  /* --primary: rgb(255, 123, 0); */
  --primary: rgb(238, 0, 0);
  /* --primary: rgb(0, 128, 202); */
  /* --primary: rgb(0, 202, 61); */
  --roundness: 7px;
}

@media screen and (max-width: 1300px) {
  :root {
    --content: calc(100% - 5em);
  }
}

body {
  padding: 0;
  margin: 0;
  /* needs to use shipped font */
  font-family: Ubuntu, Segoe UI, Roboto;
  background-color: rgb(247, 247, 247);
  /* background-color: #f3f3f3; */
  color: var(--alt-text);
}

e {
  padding-left: 10px;
}

main {
  margin: 30px auto 400px auto;
  width: var(--content);
}

::placeholder {
  opacity: 0.7;
}
