.explore {
  position: relative;
  margin: 50px auto;
  overflow-x: hidden;
}

.search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 45px;
  background-color: #eee;
  margin: auto;
  border-radius: 7px;
  z-index: 1000;
}

.suggestions {
  --gap-width: 0.7em;
  display: grid;
  grid-auto-flow: row;
  gap: var(--gap-width);
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-auto-flow: dense;
}

.suggestions .marqueeContainer:nth-child(2n+1) * {
  transform: translateX(-100px);
}

.marqueeContainer, .marquee {
  display: grid;
  grid-auto-flow: column;
  gap: inherit;
}

.marqueeContainer {
  border-radius: 4px;
  overflow: hidden;
}

.marquee { 
  animation: marquee 30s linear infinite;
  animation-play-state: running;
}

.suggestions:hover .marquee {
    animation-play-state: paused;
}

@keyframes marquee {
  0%   { transform: translateX(calc(0% + var(--gap-width))); }
  100% { transform: translateX(-100%); }
}