.container {
  box-shadow: 0 0 10px 0 rgb(26 26 26 / 0%), 0 4px 8px 0 rgb(26 26 26 / 10%);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  --top-offset: 100px;
  margin: var(--top-offset) auto;
  width: 370px;
  background-color: white;
  border-radius: var(--roundness);
}

.innerContainer {
  padding: 30px 50px 50px 50px;
}

.loginContainer {
  animation: slide 0.3s ease-out forwards;
}

.arrowLeft {
  margin-right: 10px;
}

.arrowRight {
  margin-left: 10px;
}

.back:hover,
.help:hover {
  color: var(--primary);
  cursor: pointer;
}

.inputContainer {
  margin: 50px 0 33px 0;
}

.inputs div {
  margin: 10px 0;
}

.inputs {
  margin: 40px 0;
}

.help {
  font-size: 15px;
  margin: 20px auto;
  /* width: fit-content; */
}

.options {
  display: flex;
  justify-content: space-between;
}

.image1,
.image2 {
  position: absolute;
  top: 200px;
  z-index: -1;
  opacity: 0;
}

.image1 {
  left: 360px;
  animation: slideLeft 0.3s ease-out forwards 0.2s;
}

.image2 {
  left: 745px;
  animation: slideRight 0.3s ease-out forwards 0.2s;
}

#registerForm {
  display: none;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(0.5);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(0.5);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(2em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.input {
  min-height: 37px;
  min-width: 230px;
  font-family: Ubuntu, Segoe UI, Roboto;
  border-radius: var(--roundness);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--secondary);
}
