.suggestions {
  --gap-width: 0.7em;
  display: grid;
  grid-auto-flow: row;
  gap: var(--gap-width);
  justify-content: space-between;
  grid-auto-flow: dense;

  border-radius: var(--roundness);
  overflow: hidden;
}

.suggestions .marqueeContainer:nth-child(2n + 1) {
  transform: translateX(-100px);
}

.marqueeContainer,
.marquee {
  display: grid;
  grid-auto-flow: column;
  gap: inherit;
}

.marquee {
  animation: marquee linear infinite;
  animation-play-state: running;
}

.suggestions:hover .marquee,
.search:hover .marquee {
    animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(calc(0% + var(--gap-width)));
  }
  100% {
    transform: translateX(-100%);
  }
}
