.container {
  width: var(--content);
  height: 55px;
  margin: 30px auto 20px auto;
  /* box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%); */
}

.content {
  width: 100%;
  height: inherit;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.navigationItems {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.navItemsContainer {
  height: inherit;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
  margin: auto;
}