.searchBar {
  height: 37px;
  margin: 20px auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 150px 10fr;
}

.searchBtn,
.input {
  border-radius: 4px;
  overflow: hidden;
}

.searchBtn {
  display: table;
  margin-right: 1em;
  background-color: var(--primary);
  transition: 0.2s;
}

.searchBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btnText {
  text-align: center;
  font-size: 17px;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 500;
}

.icon {
  padding-right: 15px;
  font-size: 15px;
}

.input {
  padding-left: 17px;
  outline: none;
  border: none;
  font-size: 17px;
  box-sizing: border-box;
  outline: 1px solid rgb(235, 235, 235);
}

.input:focus {
  outline: 1px solid rgb(206, 206, 206);
}

@media screen and (max-width: 800px) {
  .searchBar {
    width: 100% !important;
  }
}
