.container {
    min-width: 180px;
    min-height: 200px;
    background-color: rgb(187, 187, 187);
    border-radius: 4px;
    transition: 0.2s;
} 

.container:hover {
    /* transform: scale(0.98); */
    opacity: 0.7;
     cursor: pointer;
}