.container {
  width: 180px;
  height: 220px;
  position: relative;
  border: solid 1px rgb(231, 231, 231);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.2s;
}

.container:hover {
  opacity: 0.7;
  cursor: pointer;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: -999;
}

.meta {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
  z-index: 999;
}

.innerMeta {
  padding: 10px 10px;
}

.title,
.price {
  margin-bottom: 5px;
}

.title {
  font-size: 90%;
}

.price {
  font-size: 90%;
  font-weight: bold;
}
